ul {
    list-style-type: none;
    line-height:20px;
}

a {
    text-decoration:none;
}

#container {
    width:1020px;
    margin:auto;
    background-color:#ccc;
}

#header {
     
    width:960px;
    height:64px;
    margin:auto;
    display:block;
}

#logo {
    width:960px;
    height: 64px;
    margin:auto;
    display:block;
}

#logo h1 {
    margin:0;
}

#nav {
    width:960px;
    height:67px;
    margin:0 30px 30px 30px;
    display:block;
    background-color:#333f43;
}

#nav form {
    border:none;
    margin-right:0;
    float:right;
    margin-top:20px;
}

#nav ul {
    width:745px;
    padding:0;
}

#nav ul li {
    width:104px;
    height:64px;
    float:left;
    display:block;
}

#nav ul li a {
    color:#fff;
}

.home {
    width:36px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#333f43;
}

.products {
    width:36px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#333f43;   
}

.about_us {
    width:66px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#333f43;
}

.sign_up {
    width:56px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#333f43;
}


#main {
    width: 960px;
    display:table;
    margin:auto;
}

#primary {
    width:960px;
    float:right;
    display:block;
}

.cell_row_left .cell {
    margin: 0 10px 30px 0;
}

.cell_row_mid .cell {
    margin: 0 20px 30px 20px;
}

.cell_row_right .cell {
    margin: 0 0 30px 10px;
}

.cell {
    width:300px;
    height:415px;
    float:left;
}

.cell_image {
    width: 300px;
    height: 300px;
}

.cell_description {
    width:300px;
    height: 115px;
}

#side {
    width:300px;
    height:500px;
    float:left;
    display:block;
}

#footer {
    width:960px;
    height:248px;
    margin:auto;
    display: block;
}

#footer_left {
    width:280px;
    float:left;
    margin-right:36px;
}

#footer_left h3 {
    margin: 0 0 22px 0;
}

#footer_left p {
    margin: 0 0 20px 0;
    height:84px;
}

#footer_mid {
    width: 300px;
    float:left;
}

#footer_mid ul li {
    float:left;
    margin:0 10px 0 0;
}