body {
    background-color: #15191b;
    color:#ccc;
}

ul {
    list-style-type: none;
    line-height:20px;
}

a {
    text-decoration:none;
}



#container {
    width:1020px;
    margin:auto;
    background-color:#070C09;
}

#sidebar {
    width: 250px;
    height: 90px;
    float:right;
    margin-right:30px;
}

#header {
     
    width:960px;
    height:100px;
    margin:auto;
    display:block;
}

#logo {
    width:960px;
    height: 100px;
    margin:auto;
    display:block;
}

#logo h1 {
    margin:0;
}

#logo img {
    width:580px;
}
#nav {
    width:960px;
    height:67px;
    margin:0 30px 30px 30px;
    display:block;
    background-color:#15191b;
}

/*#nav form{
    border:none;
    margin-right:0;
    float:right;
    margin-top:20px;
}
*/
#nav ul {
    width:745px;
    padding:0;
}

#nav ul li {
    width:104px;
    height:64px;
    float:left;
    display:block;
}

#nav ul li a {
    color:#fff;
}

#reg_form {
    text-align: center;
}

#reg_form p{
   font-size:18px;
   margin-bottom: 2px;
   margin-top: 2px;
}
a:visited {
    color:#fe6f61;
}

input.reg {
    border:0;
    padding: 5px;
    background-color:#B0C1C7
}

input.button {
    margin-top:5px;
    background-color:#fe6f61;
    border:none;
    color:#fff;
    font-weight:bold;
    padding:10px;
    border-radius:4px;
}

#go {
    width:18px;
    height:18px;
    padding:1px;
    float:right;
    margin-top:20px;
    padding:0;
    background-color:#B0C1C7;
}

#q {
    margin-left:0;
    border:none;
    margin-right:0;
    float:right;
    margin-top:20px;
    border:none;
    background-color:#B0C1C7;
}

::-webkit-input-placeholder {
   margin-left:2px;
   color: #000;
}

.home {
    width:36px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#15191b;
}

.products {
    width:36px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#15191b;   
}

.login {
    width:66px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#15191b;
}

.sign_up {
    width:56px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#15191b;
}

.logout {
    width:56px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#15191b; 
}

.account {
    width:56px;
    height:20px;
    padding:22px 34px;
    float:left;
    background-color:#15191b;
}

#slideshow {
    width:960px;
    height:405px;
    margin:0 30px 30px 30px;
    position: relative;
}

#slideshow div  { 
    position: absolute; 
    width:960px;
    height:405px;
}

#slideshow div img {
    
}

#main {
    width: 960px;
    display:table;
    margin:auto;
}

#cell_div {
    width:630px;
    float:right;
    display:block;
}


.cell {
    width:300px;
    height:415px;
    float:left;
    margin:0 7px 0 7px;
}

.cell_image {
    width: 300px;
    height: 300px;
}
.cell_image img {
    height: 300px;
    width: 300px;
    margin-bottom:0;
}

.cell_description_box {
    width:300px;
    height: 100px;
    margin-top:0;
}
.cell_description_box:hover {
    background-color: #A3D6E6;
}

.description {
    width: 300px;
    height:68px;
}

.description h4 {
    width: 200px;
    padding: 15px 0 0 8px;
    margin-top:0;
    padding-top:40px;
}

.description p {
    float:right;
    margin-top:40px;
    color: #fff;
    padding: 10px;
    background-color:#000;
    border-radius:8px;
}

#side {
    width:300px;
    height:500px;
    float:left;
    display:block;
}

#footer {
    width:960px;
    height:248px;
    margin:auto;
    display: block;
}

#footer_left {
    width:280px;
    float:left;
    margin-right:36px;
}

#footer_left h3 {
    margin: 0 0 22px 0;
}

#footer_left p {
    margin: 0 0 20px 0;
    height:84px;
}

#footer_mid {
    width: 300px;
    float:left;
}

#footer_mid ul li {
    float:left;
    margin:0 10px 0 0;
}